
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --primary-color: #026E81;
  --secondary-color: #00ABBD;
  --accent-color: #ffb163f0;
  --background-color: #A1C7E0;
  --outline-color: #0099DD;
  --text-color: #dddddd;
  
}

/* ====================================================== */
.container {
  position: relative;
  background-color: var(--background-color);
  height: 720px;
  width: 320px;
}

/* Header */
.header{
  position: relative;
  top: 0;
  height: 20%;
  background-color: var(--primary-color);
}

.header__title {
  text-align: center;
  font-weight: 100;
  color: var(--text-color);
}
.header__buttons {
  display: flex;
}
.btn {
  cursor: pointer;
  border: none;
  border: 1px solid #2d2d2d;
  border-radius: 5px;
}
.spam {
  background-color: var(--accent-color);
}





.body{
  position: relative;
  height: 70%;
  background-color: var(--background-color);
}


.footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  height: 10%;
  color: var(--text-color);
  background-color: var(--primary-color);
}
